/*==========================================================================*/
.pagination a {
  text-shadow: none;
}

.pagination{
  float: right;
}

.list_article{
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.33);
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 70px 10px #CCFFCC;
  -moz-box-shadow: 0px 0px 70px 10px #CCFFCC;
  box-shadow: 3px 10px 10px 0px #CCFFCC;
}

.list_article_wrap{
  display: block;
  text-shadow: none;
}

.list_article .article_title{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.list_article .title_time{
  color: #ccc;
  text-align: right;
}

.article_year{
  margin-left: -40px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #006600;
  display: block;
  line-height: 50px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.time_line .row:nth-child(1) .article_year{
  margin-top: 0px;
  box-shadow: 0px 0px 10px 10px #009900;
}

.time_line .row:nth-child(2) .article_month{
  box-shadow: 0px 0px 5px 5px #009900;
}

.article_month{
  margin-left: -35px;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #006600;/*#0B8229*/
  display: block;
  line-height: 40px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.article_year img{
  width: 40px;
}

.article_month img{
  width: 30px;
}

.time_line{
  padding-left: 30px;
  border-left: #FF9900 solid 2px;
}

.time_line .row:nth-child(1) h2{
  margin-top: 10px;
}

.time_line .row a:nth-child(3n+1) .col-md-4.list_article_wrap {
  clear: left;
}

html,body{
    height: 100%;
}

body{
    /*font-family: 'YouYuan','KaiTi','SimHei';*/
    color: #bbb;
    font-size: 18px;
    
}


.nav li{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.67);
    -moz-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.67);
    box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.67);
    position: fixed;
}

.nav li:before{
    -webkit-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.2);
}

.nav li:nth-child(1){
    background-color: rgba(34, 34, 34, 0.15);/*#222222*/
    top: 160px;
    left: 50px;
}

.nav li:nth-child(2){
    background-color: rgba(204, 255, 204, 0.47);/*#CCFFCC*/
    top: 420px;
    left: 10px;
}

.nav li:nth-child(3){
    background-color: rgba(204, 255, 255, 0.5);/*#CCFFFF*/
    margin-top: 20px;
    top: 160px;
    right: 50px;
}

.nav li:nth-child(4){
    background-color: rgba(204, 204, 255, 0.35);/*#CCCCFF*/
    margin-left: 75px;
    top: 420px;
    right: 10px;
}

.nav li a{
    color: #fff;
    height: 100px;
    line-height: 100px;
    padding: 0px;
    font-size: 20px;
    font-family: "Monaco","Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
}

.content_wrap{
    position: relative;
}

@media (min-width: 768px){
    .content_wrap {
        width: 580px;
    }
}
@media (min-width: 992px){
    .content_wrap {
        width: 800px;
    }
}
@media (min-width: 1200px){
    .content_wrap {
        width: 1000px;
    }
}

.nav li:hover,.nav li:focus,.nav li.active{
    width: 120px;
    height: 120px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.nav li a:hover,.nav li:focus,.nav li.active a{
    color: #FF9900;
    height: 120px;
    line-height: 120px;
    padding: 0px;
    font-size: 25px;
    background-color: transparent;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.title_wrap{
    -webkit-box-shadow: inset 0px 0px 70px 10px #CCFFCC;
    -moz-box-shadow: inset 0px 0px 70px 10px #CCFFCC;
    box-shadow: inset 0px 0px 70px 10px #CCFFCC;
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    padding-left: 25px;
    color: #fff;
    z-index: 10;
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    text-align: center;
}

.title_wrap img{
    width: 50px;
    box-shadow: none;
}

.title_wrap{
    padding-left: 20px;
    padding-right: 20px;
}

.what{
    margin-top: 70px;
    margin-bottom: 30px;
}

.content img {
  max-width: 100%;
}

body{
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.fullPage_section .content{
    padding: 40px 60px;
    text-align: left;
    position: relative;
    border-bottom: none;
}

.fullPage_section .content p{
    text-align: justify;
}

.fullPage_section .date{
    text-align: right;
    float: right;
    padding-right: 80px;
}
.time_line{
  margin-top: 40px;
  margin-bottom: 40px;
}

.post{
  color:#a6aab1;
}

.date{
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
