/*@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/
/* Partials */
/* Theme Vars */
/* Compass Vars */
/* Override some defaults */
/* line 13, ../_sass/_base.scss */
html, body {
  /*background-color: #2a2a2a;
  background: url(../images/bgs/body.png) repeat;*/
}

/* line 18, ../_sass/_base.scss */
body {
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

/* line 26, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #ddd;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
  /*font-family: 'Pontano Sans', sans-serif;*/
}

img{
  width: 100%;
}

/* line 35, ../_sass/_base.scss */
a {
  color: #66FFFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 37, ../_sass/_base.scss */
a:hover {
  color: #33CCFF;
  text-decoration: none;
}

/* line 44, ../_sass/_base.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 49, ../_sass/_base.scss */
h1, h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h3,h4{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 53, ../_sass/_base.scss */
h1 {
  font-size: 40px;
}

/* line 57, ../_sass/_base.scss */
h2 {
  font-size: 30px;
}

p{
  text-align: justify;
}

/* line 61, ../_sass/_base.scss */
pre, code {
  color: #66CC99;
}

/* line 65, ../_sass/_base.scss */
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 74, ../_sass/_base.scss */
hr {
  border: none;
  background: #000;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Layout */
/* line 82, ../_sass/_base.scss */
.navbar {
  margin-bottom: 0;
}
/* line 84, ../_sass/_base.scss */
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 86, ../_sass/_base.scss */
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}
/* line 91, ../_sass/_base.scss */
.navbar div.navbar-inner ul.nav:first-child li a {
  padding: 12px 10px 8px;
}

/* line 100, ../_sass/_base.scss */
.container > footer {
  margin-top: 20px;
  clear: both;
}

/* line 104, ../_sass/_base.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* line 108, ../_sass/_base.scss */
div.sidebar {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 116, ../_sass/_base.scss */
div.sidebar h2, div.sidebar p {
  padding: 15px;
}
/* line 119, ../_sass/_base.scss */
div.sidebar h2 {
  padding-bottom: 0;
}
/* line 122, ../_sass/_base.scss */
div.sidebar p {
  padding-top: 0;
}

/* Page Content */
/* line 128, ../_sass/_base.scss */
.content {
  /* when there's no page-header */
  /* Wide column content */
  border-bottom: #666 solid 1px;
  padding-bottom: 20px;
}
/* line 129, ../_sass/_base.scss */
.content img {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* line 133, ../_sass/_base.scss */
.content.no-header {
  padding-top: 40px;
}
/* line 140, ../_sass/_base.scss */
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
/* line 146, ../_sass/_base.scss */
.content div.row div.span4 h4 {
  margin-top: 10px;
}
/* line 148, ../_sass/_base.scss */
.content div.row div.span4 h4:first {
  margin-top: 0;
}

/* Page header tweaks */
/* line 155, ../_sass/_base.scss */
.page-header {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 168, ../_sass/_base.scss */
.page-header h1 {
  color: #eee;
  margin-bottom: 0;
}

/* line 174, ../_sass/_base.scss */
.topbar .btn {
  border: 0;
}

/* Pagination */
/* line 181, ../_sass/_base.scss */
div.pagination li a {
  -webkit-box-shadow: 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}

/* Buttons */
/* line 189, ../_sass/_base.scss */
a.btn, a.btn.disabled {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px #000;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 200, ../_sass/_base.scss */
a.btn:hover, a.btn.disabled:hover {
  background: rgba(255, 255, 255, 0.05);
}
/* line 203, ../_sass/_base.scss */
a.btn.disabled, a.btn.disabled.disabled {
  color: rgba(255, 255, 255, 0.3);
}

/* tag_box ======================================================== */
/* line 209, ../_sass/_base.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
  margin-top: 20px;
}

/* line 215, ../_sass/_base.scss */
.tag_box li {
  line-height: 28px;
}

/* line 218, ../_sass/_base.scss */
.tag_box.inline li {
  float: left;
}

/* line 221, ../_sass/_base.scss */
.tag_box a {
  padding: 8px 14px;
  margin-left: 18px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

/* line 236, ../_sass/_base.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 240, ../_sass/_base.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}

/* Page-specific */
/* line 248, ../_sass/_base.scss */
div.content div#page-index {
  padding-top: 30px !important;
}

/* Zocial Overrides */
/* line 254, ../_sass/_base.scss */
.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 260, ../_sass/_base.scss */
.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

/* line 265, ../_sass/_base.scss */
.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

/* line 271, ../_sass/_base.scss */
.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

/* Layout */
/* line 2, ../_sass/_responsive.scss */
.navbar {
  margin-bottom: 0;
}
/* line 4, ../_sass/_responsive.scss */
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 7, ../_sass/_responsive.scss */
.navbar ul.social {
  /* Hide social menu on low-res screens */
}
@media (min-width: 480px) and (max-width: 979px) {
  /* line 7, ../_sass/_responsive.scss */
  .navbar ul.social {
    display: none !important;
  }
}

/* Responsive Overrides */
@media (max-width: 767px) {
  /* line 18, ../_sass/_responsive.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 23, ../_sass/_responsive.scss */
  div.container {
    padding: 0px 20px;
  }
  /* line 25, ../_sass/_responsive.scss */
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
/* line 3, ../_sass/_post.scss */
article.post header {
  margin-bottom: 10px;
}
/* line 5, ../_sass/_post.scss */
article.post header h1, article.post header h2 {
  margin: 0;
}

/* line 15, ../_sass/_post.scss */
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
/* line 18, ../_sass/_post.scss */
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

code, pre {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

footer{
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: #666 solid 1px;
}

footer a{
  color: #bbb;
}

/*==========================================================================*/
.pagination a {
  text-shadow: none;
}

.pagination{
  float: right;
}

.list_article{
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.33);
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 70px 10px #CCFFCC;
  -moz-box-shadow: 0px 0px 70px 10px #CCFFCC;
  box-shadow: 3px 10px 10px 0px #CCFFCC;
}

.list_article_wrap{
  display: block;
  text-shadow: none;
}

.list_article .article_title{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.list_article .title_time{
  color: #ccc;
  text-align: right;
}

.article_year{
  margin-left: -40px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #006600;
  display: block;
  line-height: 50px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.time_line .row:nth-child(1) .article_year{
  margin-top: 0px;
  box-shadow: 0px 0px 10px 10px #009900;
}

.time_line .row:nth-child(2) .article_month{
  box-shadow: 0px 0px 5px 5px #009900;
}

.article_month{
  margin-left: -35px;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #006600;/*#0B8229*/
  display: block;
  line-height: 40px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.article_year img{
  width: 40px;
}

.article_month img{
  width: 30px;
}

.time_line{
  padding-left: 30px;
  border-left: #FF9900 solid 2px;
}

.time_line .row:nth-child(1) h2{
  margin-top: 10px;
}

html,body{
                height: 100%;
            }

            body{
                /*font-family: 'YouYuan','KaiTi','SimHei';*/
                color: #bbb;
                font-size: 18px;
                
            }

            
            .nav li{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                text-align: center;
                -webkit-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.67);
                -moz-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.67);
                box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.67);
                position: fixed;
            }

            .nav li:before{
                -webkit-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.2);
                -moz-box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.2);
                box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.2);
            }

            .nav li:nth-child(1){
                background-color: rgba(34, 34, 34, 0.15);/*#222222*/
                top: 160px;
                left: 50px;
            }

            .nav li:nth-child(2){
                background-color: rgba(204, 255, 204, 0.47);/*#CCFFCC*/
                top: 420px;
                left: 10px;
            }

            .nav li:nth-child(3){
                background-color: rgba(204, 255, 255, 0.5);/*#CCFFFF*/
                margin-top: 20px;
                top: 160px;
                right: 50px;
            }

            .nav li:nth-child(4){
                background-color: rgba(204, 204, 255, 0.35);/*#CCCCFF*/
                margin-left: 75px;
                top: 420px;
                right: 10px;
            }

            .nav li a{
                color: #fff;
                height: 100px;
                line-height: 100px;
                padding: 0px;
                font-size: 20px;
                font-family: "Monaco","Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
                text-shadow: none;
            }

            .content_wrap{
                position: relative;
            }

            @media (min-width: 768px){
                .content_wrap {
                    width: 580px;
                }
            }
            @media (min-width: 992px){
                .content_wrap {
                    width: 800px;
                }
            }
            @media (min-width: 1200px){
                .content_wrap {
                    width: 1000px;
                }
            }

            .nav li:hover,.nav li:focus,.nav li.active{
                width: 120px;
                height: 120px;
                -webkit-transition: all .8s ease;
                -moz-transition: all .8s ease;
                -o-transition: all .8s ease;
                transition: all .8s ease;
            }

            .nav li a:hover,.nav li:focus,.nav li.active a{
                color: #FF9900;
                height: 120px;
                line-height: 120px;
                padding: 0px;
                font-size: 25px;
                background-color: transparent;
                -webkit-transition: all .8s ease;
                -moz-transition: all .8s ease;
                -o-transition: all .8s ease;
                transition: all .8s ease;
            }
            .title_wrap{
                -webkit-box-shadow: inset 0px 0px 70px 10px #CCFFCC;
                -moz-box-shadow: inset 0px 0px 70px 10px #CCFFCC;
                box-shadow: inset 0px 0px 70px 10px #CCFFCC;
                font-size: 20px;
                height: 50px;
                line-height: 50px;
                padding-left: 25px;
                color: #fff;
                z-index: 10;
                position: fixed;
                width: 100%;
                left: 0px;
                right: 0px;
                text-align: center;
            }

            .title_wrap img{
                width: 50px;
                box-shadow: none;
            }

            .title_wrap{
                padding-left: 20px;
                padding-right: 20px;
            }

            .what{
                text-shadow: 1px 1px 1px #000;
                margin-top: 70px;
                margin-bottom: 30px;
            }