
<div class="bg">
            
</div>

<div class="col-md-8 col-md-offset-2 life">
  <div class="col-md-6 left">
    <a href="http://www.mafengwo.cn/i/9554057.html" target="_blank">
      <div class="life-file">稻城亚丁，爬上雪域之颠倾听内心的声音</div>
    </a>
  </div>

  <div class="col-md-6 left">
    <a href="http://www.mafengwo.cn/i/7710209.html" target="_blank">
      <div class="life-file">念天地之悠悠 独怆然而涕下</div>
    </a>
  </div>

  <div class="col-md-6 right">
      <a href="http://www.mafengwo.cn/i/5506537.html" target="_blank">
        <div class="life-file">去一个鲜花盛开离天空很近的地方</div>
      </a>
  </div>

  <div class="col-md-6 right">
      <a href="javascript:;">
        <div class="life-file">n篇因[点点博客]关闭而丢失的游记...(忧伤+谴责)</div>
      </a>
  </div>
</div>